### Exercise 10.02

Analyzing the Categorical Variables from the Cristiano Ronaldo Dataset

Import the packages

In [ ]:
import pandas as pd

Loading the dataset

In [ ]:
df = pd.read_csv("yds_data.csv", index_col=0)

df.head()

Checking the shape of the dataset

In [ ]:
df.shape

print the column names using columns attribute from the pandas package

In [ ]:
df.columns

Create a new Data Frame called obj_df with only the columns that are of object data type using the select_dtypes method from pandas package. Then, pass in the object value to the include parameter

In [ ]:
obj_df = df.select_dtypes(include='object')

Using the columns attribute from pandas, extract the list of columns of this DataFrame, obj_df, assign it to a new variable called obj_cols, and print its content

In [ ]:
obj_cols = obj_df.columns
obj_cols

Create a function called describe_object that takes a pandas DataFrame and a column name as input parameters. Then, inside the function, print out the name of the given column, its number of unique values using the nunique() method, and the list of values and their occurrence using the value_counts() method, as shown in the following code snippet:

In [ ]:
def describe_object(df, col_name):
    print(f"\nCOLUMN: {col_name}")
    print(f"{df[col_name].nunique()} different values")
    print(f"List of values:")
    print(df[col_name].value_counts\
                       (dropna=False, normalize=True))

In [ ]:
describe_object(df, 'area_of_shot')

We have some NaN values, we can drop the NaN values using dropna() method from pandas

In [ ]:
df.dropna(inplace=True)

In [ ]:
for col_name in obj_cols:
  describe_object(df, col_name)